@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color1: #eeeeee;
  --color2: #00adb5;
  --color3: rgba(57, 62, 70, 0.2);
  --color4: #222831;
  --modalbgcol: rgba(0, 0, 0, 0.6);
  --modalboxbgcol: rgba(34, 40, 49, 0.8);
  --ch-size: 20vw;

  --chanim-action-col: #ff7600;
}

body {
  height: 100svh;
  display: grid;
  place-items: center;
  grid-template-columns: auto var(--ch-size) auto;
  grid-template-rows: auto var(--ch-size) auto;
  background: var(--color4);
  color: var(--color1);
  font-family: "Comfortaa", sans-serif;
}

.score {
  grid-row: 1;
  grid-column: 2;
  font-size: 26px;
}

.click-here {
  position: relative;
  width: var(--ch-size);
  border: 3px solid var(--color2);
  background: var(--color3);
  transition: 100ms;
  border-radius: 25% 5% 25%;
  cursor: pointer;
  grid-column: 2;
  grid-row: 2;
  box-shadow: 3px 3px 15px var(--color2);
}

.ch-nondefault {
  border-radius: 5% 25% 5%;
}

.click-here:active {
  background-color: rgba(57, 62, 70, 0.3);
  border: dashed var(--color2);
  border-radius: 25%;
}

.click-here::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.click-here-action {
  animation: action 1.5s ease-in;
}

@keyframes action {
  50% {
    border: 3px solid var(--chanim-action-col);
    background-color: rgba(57, 62, 70, 1);
  }
}

/* menu */
.open-menu-btn {
  position: fixed;
  right: 15px;
  top: 10px;
  font-size: 32px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.open-menu-btn:hover,
.open-menu-btn:active {
  color: var(--color2);
}

.close-menu-btn {
  position: fixed;
  right: 20px;
  top: 10px;
  font-size: 32px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.close-menu-btn:hover,
.close-menu-btn:active {
  color: var(--color2);
}

.menu-wrap {
  position: fixed;
  height: 100svh;
  width: 100svw;
  background-color: #000;
  transform: translateX(-100vw);
  transition: 0.3s ease-in;
  font-size: 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.opened-menu {
  transform: translateX(0);
}

.menu-item {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.menu-item:hover,
.menu-item:active {
  color: var(--color2);
}

/* Store */
.open-store-btn {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 35px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.open-store-btn:hover,
.open-store-btn:active {
  color: var(--color2);
}

.store-wrap {
  position: fixed;
  height: 100svh;
  width: 100svw;
  background-color: #000;
  transform: translateX(100vw);
  transition: 0.3s ease-in;
  font-size: 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.opened-store {
  transform: translateX(0);
}

.close-store-btn {
  position: fixed;
  right: 20px;
  top: 10px;
  font-size: 32px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.close-store-btn:hover,
.close-store-btn:active {
  color: var(--color2);
}

/* Modal */
.modal-wrapper {
  position: fixed;
  transition: 0.3s;
  display: none;
}

.modal-open {
  display: block;
}

.modal-cont {
  height: 100svh;
  width: 100svw;
  background-color: var(--modalbgcol);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--modalboxbgcol);
  border: 2px solid var(--color2);
  border-radius: 15px;
  box-shadow: 0 0 10px var(--color2);
  padding: 25px;
  width: 90svw;
  height: 90svh;
}

.modal-text {
  font-size: 20px;
  padding-bottom: 25px;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: end;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  border: 2px solid var(--color2);
  border-radius: 7px;
  box-shadow: 0 0 10px var(--color2);
  cursor: pointer;
  transition: ease-in 0.4s;
  background: var(--modalbgcol);
}

.modal-btn:hover,
.modal-btn:active {
  border: 2px solid var(--chanim-action-col);
  box-shadow: 0 0 10px var(--chanim-action-col);
  color: var(--chanim-action-col);
}

/* In Color Store */
.color-store-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}

.color-store-item {
  transition: ease-in 0.1s;
  cursor: pointer;
}

.color-store-item:hover,
.color-store-item:active {
  scale: 0.95;
}

.color-store-color {
  height: 100%;
  width: 100%;
}

.color-store-selected {
  opacity: 0.3;
}

@media screen and (max-width: 1100px) {
  :root {
    --ch-size: 40vw;
  }

  .modal-box {
    /* width: 90svw;
    height: 60svh; */
    padding: 25px;
  }

  .modal-buttons {
    justify-content: center;
  }

  .modal-btn {
    width: 270px;
    padding: 15px;
  }
}
